/*Aufgabe 1: Farben für die Webseite festlegen*/

/*
body {
  background-color: #ffffff;
  color: #000000;
}
.info {
  color: #4682b4;
  background-color: #add8e6;
}
.warnung {
  color: #8b0000;
  background-color: #ffffe0;
}
.erfolg {
  color: #006400;
  background-color: #90ee90;
}
*/

body {
  background-color: oklab(255 255 255 1);
  color: oklab(0 0 0 1);
}
.info {
  color: oklab(70 130 180 1);
  background-color: oklab(0.8 0.2 -0.2 1);
}
.warnung {
  color: oklab(0.5 0 0 1);
  background-color: oklab(0.9 0.8 0.6 1);
}
.erfolg {
  color: oklab(0.3 0 -0.1 1);
  background-color: oklab(0.7 0.9 0.7 1);
}
